@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SeriesBoxd</h1>
    <a class="btn btn-outline-info" asp-area="" asp-controller="Serie" asp-action="Index">Enter here!</a>
    @if (User.Identity != null && User.IsInRole("Admin"))
    {
        <a class="btn btn-outline-info" asp-area="" asp-controller="User" asp-action="Index">Users</a>
    }
</div>
